# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Entornos
.venv/
env/
.env

# Datos locales o sensibles
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Archivos temporales
*.tmp
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Entregables pesados
deliverables/screenshots/*
deliverables/dashboards/*
